---
layout: hotdog
title: 首页
---
{% for post in paginator.posts %}
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
  <span class="date">{{ post.date  }}</span>
</p>
<div class="content">
  {{ post.content }}
</div>
{% endfor %}


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="/page{{ paginator.previous_page }}" class="previous">前一页</a>
  {% else %}
  <span class="previous">前一页</span>
  {% endif %}
  <span class="page_number ">当前页: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="/page{{ paginator.next_page }}" class="next">后一页</a>
  {% else %}
  <span class="next ">后一页</span>
  {% endif %}
</div>
