<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Website : a site based on git" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <!--  my css -->
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/baobao.css">

    <title>Website</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
	  <div id="logo-area">
	      <div id="logo-img-area">
		<img src="/images/logo.png" width="64"/>
	      </div>

	      <div id="logo-title-area">
	      广州交通事故法律网
	      </div>
	  </div>
	  <div id="menu-nav">
	    <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/price.html">收费标准</a></li>
	      <li><a href="/article.html">法律文摘</a></li>
	      <li><a href="/contact.html">联系我们</a></li>
	    </ul>
	  </div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
	<!--
      <section id="main_content" class="inner">
      </section>
	-->
	{{ content }}
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Website maintained by <a href="https://github.com/jiangwei909">jiangwei909</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
